body{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    text-align: center;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}

/* Containers */

.container-fluid{
    padding: 7% 15%;
}

/* Sections */

.colored-section{
    background-color: #ff4c68;
    color: white;
}
.white-section{
    background-color: white;
}

/* Heading */

.big-heading{
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Navigation Bar */


.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}

/* Title Section */

#title .container-fluid{
    padding: 3% 15% 7%;
    text-align: left;
}
.title-image{
    width: 21rem;
    transform: rotate(25deg);
    position: absolute;
    right: 23%;
}

/* Features Section */

#features{
    position: relative;
}
.fa-4x{
    color: #ef8172;
}
.fa-4x:hover{
    color: #ff4c68;
}
.feature-title{
    font-size: 1.5rem;
}

/* Testimonial Section */

#testimonials{
    background-color: #ef8172;
}
#press{
    background-color: #ef8172;
    padding-bottom: 3%;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.testimonial-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* Pricing Section */

#pricing{
    padding: 100px;
}
.pricing-column{
    padding: 3% 2%;
}
.pricing-text{
    font-size: 3rem;
    line-height: 1.5;
}

/* CTA Section */



/* Footer */

#footer{
    line-height: 4;
}
.socials{
    margin: 20px 10px;
}



@media (max-width: 1264px){

    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);
    }
}